@import "tailwindcss";

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

/* Define animation utility */
@theme {
  --animate-shake: shake 0.4s ease-in-out;
}